<div class="navbar bg-base-100 shadow-sm fixed z-30">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow-xl"
      >
        <li><a href="{%url 'home'%}">Back</a></li>
        <li><a href="{% url 'users_record' %}">Users</a></li>
        <li><a href="{% url 'ordered_record' %}">Ordered</a></li>
        <li><a href="{% url 'pending_record' %}">Pending</a></li>
        <li><a href="{% url 'failed_record' %}">Failed Supply</a></li>
        <li><a href="{% url 'upload_gallery' %}">Gallery upload</a></li>
        <li><a href="{% url 'upload_blog' %}">Blog upload</a></li>
        <li><a href="{% url 'upload_menu' %}">Menu upload</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-4xl font-bold text-shadow-white">KFC</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-bold text-white-300 text-md">
      <li><a href="{% url 'users_record' %}">Users</a></li>
      <li><a href="{% url 'ordered_record' %}">Ordered</a></li>
      <li><a href="{% url 'pending_record' %}">Pending</a></li>
      <li><a href="{% url 'failed_record' %}">Failed Supply</a></li>
      <li><a href="{% url 'upload_gallery' %}">Gallery upload</a></li>
      <li><a href="{% url 'upload_blog' %}">Blog upload</a></li>
      <li><a href="{% url 'upload_menu' %}">Menu upload</a></li>
    </ul>
  </div>
  <div class="navbar-end gap-2">
    <a class="btn" href="{%url 'home'%}">Back</a>
    <input
      type="checkbox"
      value="dark"
      class="ml-2 toggle toggle-sm toggle-checkbox theme-controller"
    />
  </div>
</div>
