<div class="navbar bg-base-100 shadow-sm fixed z-30">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
       
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow-xl"
      >
      <a class="btn btn-ghost md:hidden font-bold text-shadow-white text-2xl text-start">KFC</a>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'reservation' %}">Reservation</a></li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'menu' %}">menu</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost md:text-4xl font-bold text-shadow-white md:block">KFC</a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-bold ">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'reservation' %}">Reservation</a></li>
      <li><a href="{% url 'gallery' %}">Gallery</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'blog' %}">Blog</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'menu' %}">menu</a></li>
    </ul>
  </div>

  <div class="navbar-end gap-3 ">
      <a class="btn bg-gradient-to-r from-2% bg-gray-300 to-0% hover:scale-102" href="{% url 'student' %}">
        Be one of our Student
      </a>
    <input
      type="checkbox"
      value="dark"
      class="ml-2 toggle toggle-sm toggle-checkbox theme-controller"
    />
  </div>
</div>
